// @import "./variables";

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: var(--primary);
  box-shadow: 2px 2px 50px var(--shadow);
  transform: translateX(-100%);
  // opacity: 0;
  overflow: scroll;
  transition: all 0.5s ease;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background-color: var(--library-select-hover);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    color: var(--contrast200);
  }
  h4 {
    font-size: 0.7rem;
    color: var(--contrast100);
  }
}

.selected {
  background-color: var(--library-select-active);
}

.active-library {
  transform: translateX(0%);
  // opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
