* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./variables";

// .App {
//   --primary: #fff;
//   --contrast200: #3a3a47;
//   --contrast100: #6c6c74;
// }
// .App[data-theme="dark"] {
//   --primary: rgb(255, 255, 255);
//   --contrast200: #3a3a47;
//   --contrast100: #6c6c74;
// }

h1,
h2,
p,
svg {
  color: var(--contrast200);
}

h3,
h4,
a {
  color: var(--contrast100);
}

body {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.1rem;
  font-weight: 100;
  background-color: var(--primary);
}

.App {
  transition: all 0.5s ease;
}

.library-opened {
  margin-left: 20%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./footer";
